html {
  scroll-behavior: smooth;
}

.banner {
  background-image: linear-gradient(to right top, #dce2eb, #dbe4eb, #dbe5eb, #dbe7eb, #dce8ea);
	color: #4C4E4F;
    text-align: center;
    font-weight: bold; 
	padding: 20px 10px 10px 10px;
	position: relative;
    height: 200px;
    margin-top: 50px; 
	overflow: hidden;
}
#contact p{
	font-family: 'Roboto', sans-serif;
	text-align: center;  
    color: darkgrey;
	font-size: 15px;
	letter-spacing: 1px;
	font-weight:bold;
	line-height: 45px;
}

#brand{
    font-family: 'Roboto', sans-serif;
    color: #4C4E4F; 
	font-weight: bold;
	line-height: 19px;
    font-size: 15px;
	padding: 18px; 
    /* display: flex;  */
    /* flex-direction: column; 
    align-items: flex-end; */
    margin: 30px; 
}
#brand img{
		padding: 20px; 
		border-radius: 50%;
		
}

ul {
  list-style-type: none;
}
h1, li{
		font-family: 'Roboto', sans-serif;
		color: #4C4E4F;
		font-size: 18px; 
}   

h1 {
	position: relative;
	font-weight: bold;
	font-size: 60px;
	letter-spacing: 10px;
	color: #b9c5c8;
}
	

h2 {
	font-family: 'Roboto', sans-serif;
	/* color: darkgrey; */
	font-size: 20px;
	text-transform:uppercase;
	letter-spacing:4px;
	color: #889696;
	opacity:.8;
	line-height: 20px;
	margin: 0px; 
	padding: 0px; 
	

} 

button {
	background-color: transparent;
	border: 1px solid #4C4E4F;
	border-radius: 9px;
	font-size: 20px;
	padding: 10px;
	margin: 10px; 
	color: #4C4E4F; 
}

.scroll {
	padding-top: 53px;
}


img {
margin-top: 5px;
height: 200px;
margin-bottom: 20px; 

}
.cards {
	display: flex;
	flex-wrap: wrap;
  justify-content: space-between;
	
}


.card {
	background: white;
	margin-bottom: 2em;	
	flex: 0 1 24%;
	
}
@media screen and (min-width: 40em) {
	.card {
		 max-width: calc(50% -  1em);
	}
}

@media screen and (min-width: 60em) {
	.card {
			max-width: calc(25% - 1em);
	}
}
h3, p{
	font-family: 'Roboto', sans-serif;
	color: #4C4E4F; 
}	

footer {
	width: 100%;
    background-image: linear-gradient(to right top, #dce2eb, #dbe4eb, #dbe5eb, #dbe7eb, #dce8ea);
    color: #4C4E4F;
	margin: 0 0 30px 0;
	text-align: center;
	padding: 25px 0;
}


footer p {
  font-family: 'Roboto', sans-serif;
	font-size: 18px;
	text-align: center;
	letter-spacing: 1.5px;
}

footer img {
	padding: 10px;
	height: 25px;

} 

footer img:hover {
	opacity: .5;
} 

@media only screen and (min-width: 768px) {
	.col-1 {
	  width: 8.33%;
	}
	.col-2 {
	  width: 16.66%;
	}
	.col-3 {
	  width: 25%;
	}
	.col-4 {
	  width: 33.33%;
	}
	.col-5 {
	  width: 41.66%;
	}
	.col-6 {
	  width: 50%;
	}
	.col-7 {
	  width: 58.33%;
	}
	.col-8 {
	  width: 66.66%;
	}
	.col-9 {
	  width: 75%;
	}
	.col-10 {
	  width: 83.33%;
	}
	.col-11 {
	  width: 91.66%;
	}
	.col-12 {
	  width: 100%;
	}
  }
 

/* .github{
  background-image: url('logos/github-logo.png');  
  background-size: cover;
  width: 20px;
  height: 20px;
  padding: 20px; 
  position: inherit;
  margin: 10px;

}

